<footer id="site-footer">
  <div class="container">
    <div class="row pt-4">
      <div class="col-12 col-lg-6">
        <ul class="list-unstyled">
          <li class="text-secondary">
            {% if site.author %}
              &copy; {{ site.time | date: '%Y'}} {{ site.author | escape }}. All rights reserved.
            {% endif %}
            </li>
            {% if site.email %}
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>
      <div class="col-12 col-lg">
        <p class="text-secondary text-justify">{{ site.description | escape }}</p>
      </div>
    </div>

  </div>
</footer>
