<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>

  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  {% if page_paths %}
    <ul class="link">
      {%- for path in page_paths %}
      <!-- <li><a href="{{ platform.link }}"><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li> -->
      {% assign my_page = site.pages | where: "path", path | first %}
        {% if my_page.title and my_page.title != "Home" %}
          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a></li>
        {% endif %}
      {%- endfor %}
    </ul>
  {% endif %}
  </div>
